.book-detail-image {
    position: relative;
}

.book-detail-image .image {
    overflow: hidden;
    position: relative;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
}

.book-detail-image .image .img {
    display: block;
    max-width: 100%;
    height: auto;
    min-width: 100%;
}

.book-detail-content {
    position: relative;
}

.listing li{
    color: #212121;
    padding: 0 0 8px 16px;
    position: relative;
}

.listing li:last-child{
    padding-bottom: 0;
}

.listing li:after {
    content: "";
    height: 6px;
    width: 6px;
    position: absolute;
    top: 6px;
    left: 0;
    border-radius: 50%;
    background: #c2c2c2;
}
/* 1024+ devices and desktops */
@media only screen and (min-width: 1025px) {
}
/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .book-detail-content h1{
        font-size: 2.22rem;
    }
    .book-detail-content .price{
        font-size: 2.22rem;
    }
}
/* Mobile */
@media only screen and (max-width: 767px) {
    .book-detail-content h1{
        font-size: 2rem;
    }
    .book-detail-content .price{
        font-size: 2rem;
    }
    .book-detail-buttons .button{
        margin-bottom: 1rem;
    }

}